<div id="home" class="route-section container mt-5 py-5">
	<h1 class="display-4 text-center mb-5">TRANSCENDANCE</h1>

	<p id="pongDesc" class="text-center fs-5 mb-5">The original pong, but not that much.</p>
	<div class="row justify-content-center">
		<div class="col-md-6 text-center mb-3">
			<button id="logout" class="btn btn-primary btn-lg btn-block custom-btn-size mx-auto">
				Logout</button>
		</div>
		<div class="col-md-6 text-center mb-3">
			<button id="playbtn" class="btn btn-secondary btn-lg btn-block custom-btn-size mx-auto"
				onclick="redirGame()">
				Play the Game</button>
		</div>
		<div class="col-md-6 text-center">
			<button id="profview" class="btn btn-primary btn-lg btn-block custom-btn-size mx-auto">
				Profile Page</button>
		</div>
	</div>
</div>